<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        body {
            font-family:'Times New Roman', Times, serif ;
        }
    </style>
</head>
<body>
    <h1>URL Shortner</h1>
    <div>
        <% if (locals.id) { %>
         <p>URL Generated: http://localhost:8001/url/<%= id %></p>
        <% } %>
        <form method="post", action="/url">
            <label>Enter Your Orginal URL</label>
            <input type="text", name="url" placeholder="http://example.com"/> <br>
            <button type="submit">Generate</button>
        </form>
    </div>
    <div>
        <% if (locals.urls) { %>
         <table border="1">
            <thead>
                <th>S.no</th>
                <th>ShortId</th>
                <th>Redirect</th>
                <th>Clicks</th>
            </thead>
            <tbody>
                <% urls.forEach((url, index) => { %>
                 <tr>
                  <td><%= index + 1  %></td>
                  <td><%= url.ShortId %></td>
                  <td><%= url.redirectURL %></td>
                  <td><%= url.visitHistory.length %></td>
                 </tr>
                <% }) %>
            </tbody>
         </table>
        <% } %>
    </div>
</body>
</html>